.main {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
  img {
    border-radius: 20px;
    margin-top: 20px;
  }

  h1 {
    font-size: 40px;
  }

  button {
    background-color: rgb(115, 0, 255);
    color: #FFF;
    padding: 5px 20px;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center; 
    font-size: 22px;
    margin-top: 20px;
  }
}