:root {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #00012e;
  font: normal normal 400 18px/30px Overpass;
}

body {
  background-color: rgb(white);
  /* border: 1px solid #9ea5b2; */
  /* border-radius: 20px; */
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  min-width: 350px;
  width: 97vw;
  display: flex;
  justify-content: center;
}
